
*{
    margin: 0;
    padding: 0;
    transition: 300ms;

}

body{
}

.background{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image:url('trnava-university-BEEyeib-am8-unsplash.jpg');
    /* background-color: rgba(255, 192, 203, 0.685); */

    background-size: contain;
}

.background:after{
    background-color: rgba(0, 0, 0, 0.5);
}

.container{
    background-color: rgba(255, 255, 255, 0.5);
    width: 60%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.288);
    backdrop-filter: blur(10px);
}

.quote{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    
}

.quoter{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(25, 2, 80);
    font-size: 22px;
    padding: 5px;
    margin-left: 40%;
}

.quote-change-btn{
    padding: 10px 15px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color:rgb(25, 2, 80);
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 43%;
    outline-color: none;
    border: none;
}

.quote-change-btn:hover{
    background-color: rgb(45, 1, 146);
}

.quote-change-btn:active{
    background-color: rgb(65, 0, 216);
}